@model Ats.Models.ViewModel.GridPreInterRegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="~/Content/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
@*<style>
        label.error {
            color: red;
        }
        .field-validation-error{
            color:red;
        }
        .minwidth{
            min-width:100px;
        }
    </style>*@
<div style="text-align:center">
    <h2>
        <b>PRE-INTERVIEW DETAIL FORM</b>
    </h2>
</div>

<div class="container">
    <div class="card shadow">
        <div class="card-header">
            <h4 class="text-primary">Personal Information</h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-2">
                    <label>First Name</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.FirstName, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <label>Last Name</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.LastName, new { @class = "form-control", @required = true })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Mobile No 1</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.MobileNo1, new { @class = "form-control only-number", @maxlength = "10", @required = true })
                </div>
                <div class="col-md-2">
                    <label>Mobile No 2</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.MobileNo2, new { @class = "form-control only-number", @maxlength = "10" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Email</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.EmailId, new { @class = "form-control", @required = true })
                    <span id="errorEmail" style="display:none;color:red;">Wrong email</span>
                </div>
                <div class="col-md-2">
                    <label>Date of Birth</label>
                </div>
                <div class="form-group input-group col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.DateOfBirth, new { @class = "form-control datepicker date" })

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Gender</label>
                </div>
                <div class="col-md-4">

                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.Gender, "Male", new { @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_Gender">Male</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.Gender, "Female", new { @id = "PersonalInfo_Gender1", @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_Gender1">Female</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.Gender, "Other", new { @id = "PersonalInfo_Gender2", @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_Gender2">Other</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <label>Age</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.Age, new { @class = "form-control only-number", @maxlength = "2", @required = true })
                    @Html.ValidationMessageFor(Model => Model.PersonalInfo.Age)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Marital Status</label>
                </div>
                <div class="col-md-4">
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.MaritalStaus, "Married", new { @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_MaritalStaus">Married</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.MaritalStaus, "UnMarried", new { @id = "PersonalInfo_MaritalStaus1", @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_MaritalStaus1">UnMarried</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.MaritalStaus, "Other", new { @id = "PersonalInfo_MaritalStaus2", @class = "custom-control-input" })
                        @Html.ValidationMessageFor(Model => Model.PersonalInfo.MaritalStaus)
                        <label class="custom-control-label" for="PersonalInfo_MaritalStaus2">Other</label>
                    </div>

                </div>
                <div class="col-md-2">
                    <label class="control-label">No Of Children</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.NoOfChildren, new { @class = "form-control only-number", @maxlength = "1", @required = true })
                    @Html.ValidationMessageFor(Model => Model.PersonalInfo.NoOfChildren)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 text-nowrap">
                    <label>Language Known</label>
                </div>
                <div class="col-md-4">
                    <table>
                        <tr>
                            <td>English:</td>
                            <td>
                                @Html.DisplayFor(m => Model.PersonalInfo.English)
                            </td>
                        </tr>
                        <tr>
                            <td>Hindi:</td>
                            <td>
                                @Html.DisplayFor(m => Model.PersonalInfo.Hindi)

                            </td>
                        </tr>
                        <tr>
                            <td>Gujarati:</td>
                            <td>
                                @Html.DisplayFor(m => Model.PersonalInfo.Gujarati)
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Vehicle</label>
                </div>
                <div class="col-md-4">

                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.Vehicle, "2 wheeler", new { @class = "custom-control-input" })


                        <label class="custom-control-label" for="PersonalInfo_Vehicle">2 wheeler</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.Vehicle, "Car", new { @id = "PersonalInfo_Vehicle1", @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_Vehicle1">Car</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.Vehicle, "Other", new { @id = "PersonalInfo_Vehicle2", @class = "custom-control-input" })
                        @Html.ValidationMessageFor(Model => Model.PersonalInfo.Vehicle)
                        <label class="custom-control-label" for="PersonalInfo_Vehicle2">Other</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="text-primary">Present Address Information</h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-2">
                    <label class="control-label">Address Present</label>
                </div>
                <div class="col-md-4">
                    @Html.TextAreaFor(Model => Model.PersonalInfo.AddressPresent, new { @class = "form-control", @required = true })
                    @Html.ValidationMessageFor(Model => Model.PersonalInfo.AddressPresent)
                </div>
                <div class="col-md-2">
                    <label class="control-label">Pin Code Present</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.PincodePresent, new { @class = "form-control only-number", @maxlength = "6", @required = true })
                    @Html.ValidationMessageFor(Model => Model.PersonalInfo.PincodePresent)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label class="control-label">State Present</label>
                </div>
                <div class="col-md-4">                    
                    @Html.DisplayFor(model => model.PersonalInfo.StatePresent, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    <label class="control-label">City Present</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PersonalInfo.CityPresent, new { @class = "control-label" })
                    @*@Html.DisplayFor(model => model.Cities.CityNamePresant, new { @class = "control-label" })*@                    
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="text-primary">
                <b>Permanent Address Information</b>
            </h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-2">
                    <label class="control-label">Address Past</label>
                </div>
                <div class="col-md-4">
                    @Html.TextAreaFor(Model => Model.PersonalInfo.AddressPast, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <label>Pin Code Past</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.PinCodePast, new { @class = "form-control only-number", @maxlength = "6", @required = true })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label class="control-label">State Past</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PersonalInfo.StatePast, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    <label>City Past</label>
                </div>
                <div class="col-md-4">
                        @Html.DisplayFor(model => Model.PersonalInfo.CityPast, new { @class = "control-label" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="text-primary">Applied for Position</h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-2 text-nowrap">
                    <label>Post Applied Department:</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PersonalInfo.AppliedForDepartment, new { @class = "control-label" })
                </div>
                <div class="col-md-2 text-nowrap">
                    <label>Post Applied Designation:</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PersonalInfo.AppliedForDesignation, new { @class = "control-label" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label class="control-label">Total Experience</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.TotalExperienceInYear, new { @class = "form-control only-number", @maxlength = "2", @required = true })
                    @Html.ValidationMessageFor(Model => Model.PersonalInfo.TotalExperienceInYear)
                </div>
                <div class="col-md-2">
                    <label>Salary Expectation</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.SalaryExpectation, new { @class = "form-control only-number", @maxlength = "7", @required = true })
                    @Html.ValidationMessageFor(Model => Model.PersonalInfo.SalaryExpectation)
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-2 text-nowrap">
                    <label class="control-label">Early Joining Date</label>
                </div>
                <div class="form-group input-group col-md-4">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.EarliestJoinDate, new { @class = "form-control datepicker date", @required = true })
                    @Html.ValidationMessageFor(Model => Model.PersonalInfo.EarliestJoinDate)
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fas fa-calendar-week"></i></span>
                    </div>
                </div>
                <div class="col-md-2 text-left text-nowrap">
                    <label>Comfortable Night Shift</label>
                </div>
                <div class="col-md-4 text-nowrap">
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.NightShift, "true", new { @required = true, @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_NightShift">Yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.NightShift, "false", new { @required = true, @id = "PersonalInfo_NightShift1", @class = "custom-control-input" })
                        @Html.ValidationMessageFor(Model => Model.PersonalInfo.NightShift)
                        <label class="custom-control-label" for="PersonalInfo_NightShift1">No</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="control-label">How did you get to know about the opening? </label>
                    @*<label class="control-label">Job Source</label>*@
                </div>
                <div class="col-md-6">
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.JobSource, "HRCall", new { @required = true, @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_JobSource">HRCall</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.JobSource, "Consultancy", new { @required = true, @id = "PersonalInfo_JobSource1", @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_JobSource1">Consultancy</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.JobSource, "JobPortal", new { @required = true, @id = "PersonalInfo_JobSource2", @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_JobSource2">JobPortal</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.JobSource, "News", new { @required = true, @id = "PersonalInfo_JobSource3", @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_JobSource3">News</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.JobSource, "Paper Ad", new { @required = true, @id = "PersonalInfo_JobSource4", @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_JobSource4">Paper Ad</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.JobSource, "Other", new { @required = true, @id = "PersonalInfo_JobSource5", @class = "custom-control-input" })
                        @Html.ValidationMessageFor(Model => Model.PersonalInfo.JobSource)
                        <label class="custom-control-label" for="PersonalInfo_JobSource5">Other</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="control-label">
                        Do you know anyone who is working with this company?
                    </label>
                </div>
                <div class="col-md-6">

                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.IsReference, "true", new { @required = true, @class = "custom-control-input" })
                        <label class="custom-control-label" for="PersonalInfo_IsReference">Yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(Model => Model.PersonalInfo.IsReference, "false", new { @required = true, @id = "PersonalInfo_IsReference1", @class = "custom-control-input" })
                        @Html.ValidationMessageFor(Model => Model.PersonalInfo.IsReference)
                        <label class="custom-control-label" for="PersonalInfo_IsReference1">No</label>
                    </div>
                </div>
            </div>
            <div class="row form-group divrefernce">
                <div class="col-md-3">
                    <label class="control-label">Reference Name</label>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.ReferenceName, new { @class = "form-control", @required = true })
                </div>
                <div class="col-md-3">
                    <label>Reference Designation</label>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.ReferenceDesignation, new { @class = "form-control", @required = true })
                </div>
            </div>
            <div class="form-group row divrefernce">
                <div class="col-md-3">
                    <label>Reference Mobile No</label>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(Model => Model.PersonalInfo.ReferenceMobileNo, new { @class = "form-control", @maxlength = "10", @required = true })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="text-primary">
                Previous Employment Details
            </h4>
        </div>

        <div class="card-body">
            <table id="previousEmploymentDetails" class="table table-striped table-responsive table-pre-employeement">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>CompanyName</th>
                        <th>City</th>
                        <th>Designation</th>
                        <th>From</th>
                        <th>To</th>
                        <th>CTC/Month</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int sno = 0;
                    }
                    @foreach (var item in Model.PreviousEmploymentDetail)
                    {
                        <tr>
                            <td>
                                @{ sno++; }
                                @sno
                                @*<label name="EmploymentId" id="EmploymentId">@item.EmploymentId</label>*@
                                <input type="hidden" name="CandidateId" id="CandidateId" class="form-control" required />
                            </td>
                            <td>
                                <input type="text" name="CompanyName" id="CompanyName" class="form-control minwidth" value="@item.CompanyName" required />
                            </td>
                            <td>
                                <input type="text" name="City" id="City" class="form-control minwidth" value="@item.City" required />
                            </td>
                            <td>
                                <input type="text" name="Designation" id="Designation" class="form-control minwidth" value="@item.Designation" required />
                            </td>
                            <td>
                                <div style="display:inline-flex">
                                    <input type="text" name="WorkFrom" id="WorkFrom" class="form-control datepicker minwidth" readonly required value="@item.WorkFrom" />
                                </div>
                            </td>
                            <td>
                                <div style="display:inline-flex">
                                    <input type="text" name="WorkTo" id="WorkTo" class="form-control datepicker minwidth" readonly value="@item.WorkTo" />
                                </div>
                            </td>
                            <td>
                                <input type="text" name="CtcMonth" id="CtcMonth" class="form-control only-number minwidth" maxlength="7" value="@item.CtcMonth" />
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-header">
            <h4 class="text-primary">
                Reference
            </h4>
        </div>
        <div class="card-body">
            <table id="reference" class="table table-striped table-responsive table-refernce">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Person Name</th>
                        <th>Company Name</th>
                        <th>Designation</th>
                        <th>Contact Number</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int sno1 = 0;
                    }
                    @foreach (var item in Model.Reference)
                    {
                        <tr>
                            <td>
                                @{ sno1++; }
                                @sno1
                            </td>
                            <td>
                                <input type="text" name="PersonName" id="PersonName" class="form-control minwidth" value="@item.PersonName" required />
                            </td>
                            <td>
                                <input type="text" name="CompanyName" id="CompanyName" class="form-control minwidth" required value="@item.CompanyName" />
                            </td>
                            <td>
                                <input type="text" name="Designation" id="Designation" class="form-control minwidth" required value="@item.Designation" />
                            </td>
                            <td>
                                <input type="text" name="ContactNo" id="ContactNo" class="form-control only-number minwidth" maxlength="10" required value="@item.ContactNo" />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <br />

    <div class="card shadow">
        <div class="card-header">
            <h4 class="text-primary">
                Educational Background
            </h4>
        </div>
        <div class="card-body">
            <table id="educationalBackground" class="table table-striped table-responsive table-educational-background">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Board/University</th>
                        <th>Course/Degree</th>
                        <th>PassingYear</th>
                        <th>Grade/Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int sno2 = 0;
                    }
                    @foreach (var item in Model.EducationBackground)
                    {
                        <tr>
                            <td>
                                @{ sno2++; }
                                @sno2
                            </td>
                            <td>
                                <input type="text" name="BoardUniversityName" id="BoardUniversityName" class="form-control minwidth" required value="@item.BoardUniversityName" />
                            </td>
                            <td>
                                <input type="text" name="CourseDegreeName" id="CourseDegreeName" class="form-control minwidth" required value="@item.CourseDegreeName" />
                            </td>
                            <td>
                                <input type="text" name="PassingYear" id="PassingYear" class="form-control only-number minwidth" maxlength="4" required value="@item.PassingYear" />
                            </td>
                            <td>
                                <input type="text" name="GradePercentage" id="GradePercentage" class="form-control minwidth" required value="@item.GradePercentage" />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <br />

    <div class="card shadow">
        <div class="card-header">
            <h4 class="text-primary">Other Information</h4>
        </div>
        <div class="card-body d-flex justify-content-center">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">Other Certification And Achievement</label>
                </div>
                <div class="col-md-8">
                    @Html.TextAreaFor(Model => Model.PersonalInfo.OtherCertification, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/CustomScript/Register.js"></script>
<script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    $(function () {
        $('.only-number').keypress(function (event) {
            var keycode = event.which;
            if (!(event.shiftKey == false && (keycode == 46 || keycode == 8 || keycode == 37 || keycode == 39 || (keycode >= 48 && keycode <= 57)))) {
                event.preventDefault();
            }
        });

        $('#frmpredetail').validate({

            rules: {
                CompanyName: 'required',
                City: 'required',
                Designation: 'required',
                WorkFrom: 'required',
                WorkTo: 'required',
                CtcMonth: 'required'
            },
            messages: {
                CompanyName: 'This field is required',
                City: 'This field is required',
                Designation: 'This field is required',
                WorkFrom: 'This field is required',
                WorkTo: 'This field is required',
                CtcMonth: 'This field is required'
            },
            //submitHandler: function (form) {
            //    // form.submit();
            //    SaveAll();

            //}
        });
        $('#frmReference').validate({
            rules: {
                PersonName: 'required',
                CompanyName: 'required',
                Designation: 'required',
                ContactNo: 'required'
            },
            messages: {
                PersonName: 'This field is required',
                CompanyName: 'This field is required',
                Designation: 'This field is required',
                ContactNo: 'This field is required'
            },
            //submitHandler: function (form) {
            //    // form.submit();
            //    SaveAll();

            //}
        });
        $('#frmEducationalBackground').validate({
            rules: {
                BoardUniversityName: 'required',
                CourseDegreeName: 'required',
                PassingYear: 'required',
                GradePercentage: 'required'
            },
            messages: {
                BoardUniversityName: 'This field is required',
                CourseDegreeName: 'This field is required',
                PassingYear: 'This field is required',
                GradePercentage: 'This field is required'
            },
            //submitHandler: function (form) {
            //    // form.submit();
            //    SaveAll();

            //}
        });

    });
</script>