<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Tech - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="~/Content/bootstrap.css" media="all" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" media="print" href="~/Content/print.css"/>
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.6.0/jQuery.print.min.js"></script>
    <link href="~/Content/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/toastr/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .container {
            padding-top: 1%;
        }

        .navbar-brand {
            margin-top: -8px;
            margin-bottom: -7px;
        }

        .bg-black {
            background-color: #1e1f21 !important;
        }

        .mt-0 {
            margin-top: 3% !important;
        }


        .loader {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            position: relative;
            margin: 0 auto;
        }

        #loader-6 {
            top: 50%;
            left: -2.5px;
        }

            #loader-6 span {
                display: inline-block;
                width: 5px;
                height: 20px;
                background-color: #3498db;
            }

                #loader-6 span:nth-child(1) {
                    animation: grow 1s ease-in-out infinite;
                }

                #loader-6 span:nth-child(2) {
                    animation: grow 1s ease-in-out 0.15s infinite;
                }

                #loader-6 span:nth-child(3) {
                    animation: grow 1s ease-in-out 0.30s infinite;
                }

                #loader-6 span:nth-child(4) {
                    animation: grow 1s ease-in-out 0.45s infinite;
                }

        @@keyframes grow {
            0%, 100% {
                -webkit-transform: scaleY(1);
                -ms-transform: scaleY(1);
                -o-transform: scaleY(1);
                transform: scaleY(1);
            }

            50% {
                -webkit-transform: scaleY(1.8);
                -ms-transform: scaleY(1.8);
                -o-transform: scaleY(1.8);
                transform: scaleY(1.8);
            }
        }

        .pre-loader {
            float: left;
            margin: 1% 0 1% 1.6%;
            background-color: #eee;
            padding: 50px 0;
            width: 100%;
            height: 100%;
            z-index: 1051;
            position: fixed;
            margin: 0px 0px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
        <a class="navbar-brand" href="@Url.Action("Register")"><img src="~/Content/image/logo.png" style="height:60px; width:auto" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">@Html.ActionLink("Applicant Tracking System", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link bg-black" })</li>
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link bg-black" href="@Url.Action("Index")">List<span class="sr-only"></span></a>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")

        </div>
    </nav>
    <div class="pre-loader" id="pre-loader">
        <div class="loader" id="loader-6">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Danger!</strong>@ViewBag.Message;
    </div>
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/toastr/js/toastr.min.js"></script>
    <script type="text/javascript">
        $('#pre-loader').hide();
    </script>
</body>
</html>
